.blogroll--home
    padding: 64px 24px 72px
    background-color: $sri-white
    color: $sri-black
    display: flex
    flex-direction: column
    align-items: center
    h1
        margin: 0 0 48px

.blogroll-articles
    .blogroll--home &
        padding: 0
        @media screen and (min-width:56em)
            padding: 0 106px
    .blogroll--home &
        display: flex
        flex-direction: column
        @media screen and (min-width:42em)
            flex-direction: row
    .blog-index-wrapper &, .podcast-index-wrapper &
        padding: 72px 0 0
        display: flex
        flex-direction: column
        align-items: center
    
.blogroll-article
    padding: 0 0 40px
    width: calc(100% - 48px)
    max-width: 800px
    .blogroll--home &
        padding: 0 0 48px
        width: inherit
        &:last-of-type
            padding-bottom: 0
        @media screen and (min-width:42em)
            padding: 0 24px
    h2
        margin: 0 0 16px
        a
            text-decoration: none
            &:hover
                text-decoration: underline
                color: $sri-violet
    p
        margin: 0
