.post-container
    padding: 72px 0 0
    display: flex
    flex-direction: column
    align-items: center
    box-sizing: border-box
    width: 60%
.blog-post
    padding: 40px 0 40px

.tag-list
    padding-left: 0
    list-style: none
    display: flex
	// flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    li
        display: inline-block
        margin-right: 16px
        margin-bottom: 16px
        &:last-of-type
            margin-right: 0
