.book-frontmatter
	padding: 72px 0 40px
	
.book-reviews
	background-color: $sri-black
	background-image: url("../../static/img/speed-lines.svg")
	background-repeat: repeat-x
	background-position: left 24px
	padding: 56px 80px 40px
	color: $sri-white

.book-review
	padding-bottom: 24px
	p
		margin: 0 0 8px
		&.reviewer
			opacity: .6
			margin-bottom: 0