.btn
	-webkit-appearance: none
    -moz-appearance: none
	font-family: Roboto
	font-style: normal
	font-weight: normal
	font-size: 16px
	line-height: 20px
	text-decoration: none
	display: inline-block
	border: none
	cursor: pointer
	
.btn-large
	padding: 14px 32px;
	border-radius: 24px;
	color: $sri-white
	background: $sri-black
	box-shadow: 2px 2px 0px $sri-white, 3px 4px 0px $sri-black
	&:hover
		background: $sri-violet
		box-shadow: 2px 2px 0px $sri-white, 3px 4px 0px $sri-violet
	&:active
		background: $sri-plum
		box-shadow: 0px 0px 0px $sri-white, 0px 0px 0px $sri-plum
		transform: translate(3px,4px)
	&.btn-reversed
		color: $sri-black
		background: $sri-white
		box-shadow: 2px 2px 0px $sri-black, 3px 4px 0px $sri-white
		&:hover
			background: $sri-violet
			box-shadow: 2px 2px 0px $sri-black, 3px 4px 0px $sri-violet
			transition
		&:active
			background: $sri-plum
			box-shadow: 0px 0px 0px $sri-black, 0px 0px 0px $sri-plum
			transform: translate(3px,4px)
			
.btn-small
	padding: 8px 16px;
	border-radius: 18px;
	color: $sri-plum
	background: $sri-lightplum
	&:hover
		color: $sri-white
		background: $sri-violet
	&:active
		color: $sri-white
		background: $sri-plum