.case-study-main-content
	padding: 40px 0 56px
	position: relative
	&:after
		content: ""
		clear: both
	div:first-child
		position: relative
		overflow: hidden
		float: right
		margin: 0 24px 24px
		width: 40%
		@media screen and (min-width:45em)
			width: 29.6%
		

.content-copy
	width: calc(100% - 48px)
	max-width: 800px
	margin: 0 auto