.contact
    background-color: $sri-black
    width: 592px
    height: 536px
    left: calc(50% - 592px/2)
    h2
        color: $sri-white
        padding: 48px 48px 0px 48px
    input[type='text']
        background-color: $sri-white
        height: 48px
        width: 496px
        margin: 0px 48px 10px 48px
    input[type='email']
        background-color: $sri-white
        height: 48px
        width: 496px
        margin: 0px 48px 10px 48px
    label
        font-family: Roboto
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 20px
        color: $sri-white
    & .button
        margin: 0px 0px 10px 48px

.checkbox
    background-color: $sri-black
    height: 48px
    width: 496px
    margin: 0px 0px 10px 48px
