.subpage-masthead
	padding: 72px 24px 40px
	position: relative;
	background-image: url("../../static/img/masthead-border.svg")
	background-position: left bottom
	background-repeat: repeat-x
	h1
		margin: 0
		text-align: center