.services-container
    margin-left: 40px
    padding: 40px 0px 0px 40px

    .services-picture
        width: 379px
        height: 240px

    .service
        width: 592px

.highlightedservice-container
    background-color: $sri-black
    display: flex
    flex-direction: column
    align-items: center
    h1
        color: $sri-white
        text-align: center
    p
        color: $sri-white
    li
        color: $sri-white

    .highlightedservice
        width: 62.5%

.services-customers-container
    display: flex
    flex-direction: column
    align-items: center

    .services-customer-logo-container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-around

        .services-customer-logo
            margin: 40px
            width: 240px
            height: 176px
