backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: "Create {{collection}} “{{slug}}”"
    update: "Update {{collection}} “{{slug}}”"
    delete: "Delete {{collection}} “{{slug}}”"
    uploadMedia: "[skip ci] Upload “{{path}}”"
    deleteMedia: "[skip ci] Delete “{{path}}”"

media_folder: static/img
public_folder: /img

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages/blog"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "blog-post",
        }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Featured Post", name: "featuredpost", widget: "boolean" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }

  - name: "podcast"
    label: "Podcast"
    folder: "src/pages/podcast"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {
          label: "Template Key",
          name: "templateKey",
          widget: "hidden",
          default: "podcast-page",
        }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Featured Post", name: "featuredpost", widget: "boolean" }
      - { label: "Featured Image", name: "featuredimage", widget: image }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Tags", name: "tags", widget: "list" }

  - name: "pages"
    label: "Pages"
    files:
      - file: "src/pages/index.md"
        label: "Landing Page"
        name: "index"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "index-page",
            }
          - { label: Title, name: title, widget: string }
          - { label: Video Source URL, name: videoSourceURL, widget: string }
          - { label: Video Title, name: videoTitle, widget: string }
          - { label: Heading, name: heading, widget: string }
          - {
              label: Intro,
              name: intro,
              widget: object,
              fields:
                [
                  {
                    label: Blurbs,
                    name: blurbs,
                    widget: list,
                    fields:
                      [
                        { label: Image, name: image, widget: image },
                        { label: Title, name: title, widget: title },
                        { label: Text, name: text, widget: text },
                      ],
                  },
                ],
            }
          - {
              label: Track Record,
              name: trackrecord,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  {
                    label: Testimonials,
                    name: testimonials,
                    widget: list,
                    fields:
                      [
                        { label: Image, name: image, widget: image },
                        { label: Testimonial, name: testimonial, widget: text },
                        { label: Testifier, name: testifier, widget: text },
                      ],
                  },
                ],
            }
      - file: "src/pages/about/index.md"
        label: "About"
        name: "about"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "about-page",
            }
          - { label: "Title", name: "title", widget: "string" }
          - { label: "Body", name: "body", widget: "markdown" }
      - file: "src/pages/services/index.md"
        label: "Services Page"
        name: "services"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "service-page",
            }
          - { label: Title, name: title, widget: string }
          - { label: Image, name: image, widget: image }
          - {
              label: Intro,
              name: intro,
              widget: object,
              fields:
                [
                  {
                    label: Services,
                    name: services,
                    widget: list,
                    fields:
                      [
                        { label: Service, name: service, widget: text },
                        { label: Text, name: text, widget: text },
                      ],
                  },
                ],
            }
          - {
              label: Highlighted Service,
              name: highlightedservice,
              widget: object,
              fields:
                [
                  { label: Heading, name: heading, widget: string },
                  { label: Description, name: description, widget: string },
                  {
                    label: Bullets,
                    name: bullets,
                    widget: list,
                    fields: [{ label: Bullet, name: bullet, widget: text }],
                  },
                ],
            }
            - {
                label: Customers,
                name: customers,
                widget: object,
                fields:
                  [
                    { label: Heading, name: heading, widget: string },
                    {
                      label: Logos,
                      name: logos,
                      widget: list,
                      fields: [{ label: Logo, name: logo, widget: image }],
                    },
                  ],
            }
      - file: "src/pages/cases/index.md"
        label: "Cases Page"
        name: "cases"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "cases-page",
            }
          - { label: Title, name: title, widget: string }
          - {
              label: Cases,
              name: cases,
              widget: list,
              fields:
                [
                  { label: Case, name: case, widget: text },
                  { label: Logo, name: logo, widget: image },
                  { label: Description, name: description, widget: text },
                ],
            }
      - file: "src/pages/book/index.md"
        label: "Book Page"
        name: "book"
        fields:
          - {
              label: "Template Key",
              name: "templateKey",
              widget: "hidden",
              default: "book-page",
            }
          - { label: Title, name: title, widget: string }
          - { label: First Review, name: firstReview, widget: string }
          - { label: First Reviewer, name: firstReviewer, widget: string }
          - { label: Second Review, name: secondReview, widget: string }
          - { label: Second Reviewer, name: secondReviewer, widget: string }
          - { label: Image, name: image, widget: image }
