@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap')

// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000
$kaldi-red-invert: #fff

$sri-plum: #451663

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert
$body-color: #333
$black: #2b2523

.navbar .container
  display: flex
  align-items: flex-end

.navbar-brand
  margin-right: 16px

.navbar-item
  padding: 6px 12px
  background: #FFFFFF
  border-radius: 16px
  font-family: Roboto
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 20px
  color: #000000
  text-decoration: none
  margin-right: 16px
  display: inline-block
  &:hover
    background: $sri-plum
    color: white

.navbar-start

// responsiveness
// +tablet-only
//   .blog-list-item .featured-thumbnail
//     flex-basis: 50%

// +mobile
//   .blog-list-item header
//     display: block
//   .blog-list-item .featured-thumbnail
//     text-align: center
//     max-width: 70%
//     margin: 0 0 1em
